<mat-card style="padding: 30px;">
<div class="container">
  <h1 style="font-size: 2rem;">{{ customer.id === undefined ? titleCreate : titleUpdate }}</h1>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-12" style="text-align: left;">
        <h4 class="card-title">
          <a [routerLink]="['/customers']" style="text-decoration: none;">
            <mat-icon>reply</mat-icon> volver
          </a>
        </h4>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 style="text-align: center; color: #4d4cfc; font-size: 1.5rem;">{{ customer.id === undefined ? 'Registrar datos' : 'Modificar datos' }}</h2>
        </div>
      </div>

      <div class="row" style="margin: auto">
        <div class="col-lg-12">
          <form [formGroup]="customerForm" autocomplete="off">

            <div class="col-lg-6 my-1" style="margin: 0 auto;">

              <mat-form-field appearance="outline" class="example-container">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="firstName">
              </mat-form-field>
              <div *ngIf="customerForm.get('firstName')?.hasError('required') && customerForm.get('firstName')?.touched"
                style="margin-top: -20px; text-align: center;">
                <span class="mda-form-msg">Este campo es requerido</span>
              </div>

            </div>

            <div class="col-lg-6 my-1" style="margin: 0 auto;">

              <mat-form-field appearance="outline" class="example-container">
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="Apellido" formControlName="lastName">
              </mat-form-field>
              <div *ngIf="customerForm.get('lastName')?.hasError('required') && customerForm.get('lastName')?.touched"
                style="margin-top: -20px; text-align: center;">
                <span class="mda-form-msg">Este campo es requerido</span>
              </div>

            </div>

            <div class="col-lg-6 my-1" style="margin: 0 auto;">

              <mat-form-field appearance="outline" class="example-container">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Correo" formControlName="email">
              </mat-form-field>
              <div *ngIf="customerForm.get('email')?.hasError('required') && customerForm.get('email')?.touched"
                style="margin-top: -20px; text-align: center;">
                <span class="mda-form-msg">Este campo es requerido</span>
              </div>

            </div>

            <div class="col-lg-6 my-1" style="margin: 0 auto;">

              <mat-form-field class="example-container" appearance="outline">
                <mat-label>Fecha nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="dateOfBirth">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div *ngIf="customerForm.get('dateOfBirth')?.hasError('required') && customerForm.get('dateOfBirth')?.touched"
                style="margin-top: -20px; text-align: center;">
                <span class="mda-form-msg">Este campo es requerido</span>
              </div>

            </div>

            <div class="col-lg-6 my-1" style="margin: 0 auto;">

              <mat-form-field appearance="outline" class="example-container">
                <mat-label>Región</mat-label>
                <mat-select [compareWith]="compareRegion" name="region" formControlName="region">
                  <mat-option> --- Seleccione una región --- </mat-option>
                  <mat-option *ngFor="let region of regions" [value]="region">
                    {{ region.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="customerForm.get('region')?.hasError('required') && customerForm.get('region')?.touched"
                style="margin-top: -20px; text-align: center;">
                <span class="mda-form-msg">Este campo es requerido</span>
              </div>

            </div>

            <div class="col-lg-6 my-3" style="margin: 0 auto; text-align: center;">
              <button mat-button class="btn-cancelar" style="margin-right: 20px;"
                routerLink="/customers"
                type="button">
                Cancelar
              </button>
              <button mat-button class="btn-aceptar" [ngClass]="customerForm.invalid ? 'btn-aceptar-no-drop' : ''"
                [disabled]="customerForm.invalid"
                type="button"
                (click)="saveCustomer()">
                Aceptar
              </button>

            </div>

          </form>

        </div>

      </div>

    </div>
  </mat-card-content>
</div>
</mat-card>
